@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer mantine, mantine-contextmenu;

/* This line ensures all anchor tags are underlined */
/* @layer base {
  btn {
    @apply underline; 
  }
} */

/* @layer utilities {
  .border-lightgrey {
    border: 1px solid #D1D5DB; 
  }
} */

*, ::before, ::after {
  border-width: 0;
  border-style: solid;
  border-color: currentColor /* or gray-DEFAULT / gray-400 */;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

/* .ant-btn:not([disabled]):hover {
  background: #faad14 !important;
} */

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.elevated-block {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.fixed-width-nav {
  width: 256px;
}

.cross {
  width: 16px;
  height: 16px;
  position: absolute;
  top: -4px;
  /* Positioning adjustments to be at the top-right */
  right: -4px;
  background-color: red;
  border-radius: 50%;
  /* Makes it circular */
  display: none;
  /* Initially hidden */
  cursor: pointer;
  /* Change cursor on hover to indicate it's clickable */
}

.cross:before,
.cross:after {
  content: '';
  /* The cross is formed using two pseudo-elements */
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  width: 2px;
  background-color: white;
}

.cross:before {
  transform: translate(-50%, -50%) rotate(45deg);
  /* Rotating one of them to form a cross */
}

.cross:after {
  transform: translate(-50%, -50%) rotate(-45deg);
  /* Rotating the other in the opposite direction */
}

/* Show on hover */
/* .button-hover:hover .cross {
  display: block;    
} */

.cross:hover {
  transform: scale(1.1);
  /* Enlarge the cross slightly on hover */
}

.cross:before,
.cross:after {
  transition: background-color 0.3s;
  /* Smooth transition for color change */
}

.cross:hover:before,
.cross:hover:after {
  background-color: #f2f2f2;
  /* Lighten the cross color on hover */
}

.orange-shadow {
  box-shadow: 0 4px 6px 0 rgba(255, 165, 0, 0.1);
}

.processing-text {
  color: rgb(100, 101, 102);
  font-weight: bold;
  animation: fadeInOut 2s infinite;
}

.waiting-text {
  color: rgb(100, 101, 102);
  font-weight: bold;
}

.failed-text {
  color: rgb(145, 12, 0);
  font-weight: bold;
}

@keyframes fadeInOut {

  0%,
  80% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

.iconStyle {
  transform: scale(1.2);
  margin-left: 4px;
}

.spaceIconStyle {
  transform: scale(0.95);
  margin-left: 4px;
}

.markdown-content {
  font-size: 90%;
}

.grid-layout-container{
  width: calc(100% - 230px - 25vw)
}

.react-grid-item.react-grid-placeholder {
  background-color: #999 !important;
  border-radius: 10px;
}

.react-grid-item{
  cursor: pointer;
  padding: 8px;
  border-radius: 10px;
}

.react-grid-item:active, .react-grid-item:focus{
  background-color: transparent;
}


.block-input .mantine-Textarea-input{
  padding: 0px;
}